/* superior */

.cabecalho{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    background: #e4e4e4;
}
.cabecalho-menu01{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background: #e4e4e4;
    backdrop-filter: blur(2px);
    box-shadow: 0.3rem 0.3rem 0.35rem #0000001f;
}
.cabecalho-menu01-contato{
    display: flex;
    gap: 0.5rem;
    color: #000000;
}
.cabecalho-menu01-social{
    display: flex;
    gap: 0.5rem;
}

/* meio */
.cabecalho-menu02{
    background: #080c0fef;
    box-shadow: 0.3rem 0.3rem 0.35rem #0000001f;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding: 0.3rem 0.7rem;
}
.cabecalho-menu02-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.cabecalho-menu02-logo img{
    width: 60px;
    border-radius: 50%;
}
.cabecalho-menu02-menu{
    display: flex;
    gap: 0.5rem;
}
.cabecalho-menu02-menu li{
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    transition: 0.3s;
}
.cabecalho-menu02-menu li:hover{
    color: #cc7000;
}

/* inferior */
.cabecalho-apresentacao{
    border-radius: 0.3rem;
    margin: 2rem auto;
    position: relative;
    display: flex;
    Justify-content: center;
    align-items: center;
    background-color: #202020;
    overflow: hidden;
}
.cabecalho-apresentacao::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 400%;
    background-color: #fff;
    animation: animate 4s linear infinite;
}
.cabecalho-apresentacao::after{
    content: "";
    position: absolute;
    inset: 3px;
    background-color: #e4e4e4;
    border-radius: 0.3rem;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.cabecalho-apresentacao-content{
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
    padding: 2rem;
}

.cabecalho-apresentacao button{
    border: 1px solid #000000;
    padding: 0.3rem 0.4rem;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    transition: 0.3s;
    color: #ffffff;
    background: #292929;
}
.cabecalho-apresentacao button i{
    color: #ffffff;
}

.fundo{
    background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/60/45/84/pousada-bahia-tambor.jpg?w=1200&h=-1&s=1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}